:root {
	--ligth-blue: #31c3bd;
	--Light-Blue-Hover: #65e9e4;
	--Light-Yellow: #f2b137;
	--Light-Yellow-Hover: #ffc860;
	--Dark-Navy: #1a2a33;
	--Semi-Dark-Navy: #1f3641;
	--Silver: #a8bfc9;
	--Silver-Hover: #dbe8ed;
}

body {
	background-color: var(--Dark-Navy);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#Dmenu {
	border: none;
	background-color: var(--Dark-Navy);
	padding: 0;
}

#Dmenu::backdrop {
	opacity: 1;
	background-color: var(--Dark-Navy);
}

#menu {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 25px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 12px;
	width: 80vw;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.reform-one {
	background-color: var(--Semi-Dark-Navy);
	border-radius: 15px;
	box-shadow: 0px -8px 0px 0px #10212a inset;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 24px;
	padding: 28px;
	text-align: center;
	color: var(--Silver);
}

.choice {
	background-color: var(--Dark-Navy);
	padding: 6px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn-choice {
	border-radius: 10px;
	border: none;
	padding: 12px 18px;
	box-shadow: none;
	background-color: var(--Dark-Navy);
	width: 50%;
}

.btn-choice:hover {
	background-color: none;
}

.selected {
	background-color: var(--Silver);
}

.selected-1 {
	fill: var(--Dark-Navy);
}

.thehead {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	width: 100%;
}

.thisreform {
	background-color: var(--Semi-Dark-Navy);
	padding: 12px;
	border-radius: 5px;
	box-shadow: 0px -4px 0px 0px #10212a inset;
	color: var(--Silver);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.grid-carrer {
	display: grid;
	grid-template-columns: 12vh 12vh 12vh;
	grid-template-rows: 12vh 12vh 12vh;
	gap: 12px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 20px;
	width: 80%;
}

.case {
	padding: 8px;
	border: none;
	border-radius: 12px;
	background-color: var(--Semi-Dark-Navy);
	box-shadow: 0px -8px 0px 0px #10212a inset;
	display: flex;
	align-items: center;
	justify-content: center;
}

.case:hover {
	border: 1px solid white;
}

.case:hover .croixxx path {
	fill: none;
	border: blue;
	stroke: var(--ligth-blue);
	stroke-width: 1px;
}
.case:hover .cercleee path {
	fill: none;
	border: blue;
	stroke: var(--Light-Yellow);
	stroke-width: 1px;
}
.case:active {
	border: 1px solid red;
}

#info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: stretch;
	gap: 16px;
	width: 100%;
}

.infogame {
	padding: 12px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	border-radius: 10px;
	text-align: center;
	gap: 6px;
	color: var(--Dark-Navy);
}

.color-blue {
	background-color: var(--ligth-blue);
}
.color-grey {
	background-color: var(--Silver);
}
.color-yellow {
	background-color: var(--Light-Yellow);
}

.win-or-lose-restart {
	width: 100%;
	border: none;
	margin-left: 0;
	margin-right: 0;
	background-color: var(--Semi-Dark-Navy);
}

#menu-end-game {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 22px;
	color: var(--Silver);
}

.choose {
	display: flex;
	gap: 20px;
}

@media screen and (min-width: 700px) {
	form {
		width: 50vw;
	}
	main {
		width: 50vw;
	}
}

@media screen and (min-width: 1024px) {
	form {
		width: 40vw;
	}
	main {
		width: 40vw;
	}
}
